@model IEnumerable<TheBugTracker.Models.Company>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> _signInManager

@{
    ViewData["Title"] = "Index";
}

<style>
    tr {
        cursor: pointer;
    }
    thead{
        cursor: auto;
    }
</style>

<h1>Companies (@Model.Count())</h1>
@if(!_signInManager.IsSignedIn(User))
{
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedCompanies">Seed</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedCompanies">Unseed</a>  
    <p><em>Seed data from <a href="https://remotive.io/" target="_blank">remotive.io</a></em></p>
}

@if(_signInManager.IsSignedIn(User))
{
    <p><a asp-action="Create">Create New</a></p>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th># of Projects</th>
            <th># of Members</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr id="@item.Id">
            <td>@item.Id</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@item.Projects.Count</td>
            <td>@item.Members.Count</td>
        </tr>
    }
    </tbody>
</table>

<script>
    $(document).ready(() => {
        let collection = document.getElementsByTagName("tr")
        let rows = Array.from(collection);
        rows.shift()

        rows.forEach(row => {
            row.addEventListener('click', e => {
                window.location = `/Companies/Profile/${row.id}`
            })
        })
    })
</script>
