@model CompanyProfileViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> _signInManager

<style>
    form{
        display: inline;
    }
    hr.lesstop{
        margin-top: calc(1rem - 8px);
    }
</style>

<h1>Company: @Model.Company.Name</h1>
<hr>

<div class="row">
    <div class="col seperateScroll">
        <h4>About</h4>
        <hr>
        @Html.Raw(Model.Company.Description)
    </div>
    <div class="col seperateScroll">
        <div class="d-flex justify-content-between">
            <h4>Projects</h4>
            @if(!_signInManager.IsSignedIn(User))
            {
                <form asp-action="AddProjectToCompany">
                    <input type="hidden" name="companyId" value="@Model.Company.Id">
                    <input type="submit" value="Add Project" class="btn btn-sm btn-outline-primary">
                </form>
            }
        </div>
        <hr class="lesstop">
        @foreach (var project in Model.Projects)
        {
            <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id" class="text-dark text-decoration-none">
                <div class="row">
                    <div class="col-auto">
                        @if(project.ImageFileData is null)
                        {
                            <img style="max-height: 100px; max-width: 100px;" src="@project.ImageFileName" alt="" />
                        } else {
                            <img style="max-height: 100px; max-width: 100px;" src="data:image/*;base64,@(Convert.ToBase64String(project.ImageFileData))" />
                        }
                    </div>
                    <div class="col">
                        <h5>@project.Name</h5>
                        <p>@project.Description</p>
                        <p>Priority: @project.ProjectPriority.Name</p>
                    </div>
                </div>
            </a>
            <br>
        }
    </div>
    <div class="col seperateScroll">
        <div class="d-flex justify-content-between">
            <h4>Members</h4>
            @if(!_signInManager.IsSignedIn(User))
            {
                <form asp-action="AddMemberToCompany">
                    <input type="hidden" name="companyId" value="@Model.Company.Id">
                    <input type="submit" value="Add Member" class="btn btn-sm btn-outline-primary">
                </form>
            }
        </div>
        <hr class="lesstop">
        @foreach (var member in Model.Members)
        {
            <a asp-controller="Users" asp-action="Profile" asp-route-id="@member.Id" class="text-dark text-decoration-none">
                <div class="row">
                    <div class="col-auto">
                        <img src="@member.AvatarFileName" alt="" />
                    </div>
                    <div class="col">
                        <h5>@member.FullName</h5>
                        <p>@member.Email</p>
                        <p>@member.PhoneNumber</p>
                    </div>
                </div>
            </a>
            <br>
        }
    </div>
</div>