@model Project
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> _signInManager

@{
    ViewData["Title"] = "Project Details";
}

<div class="row">
    <div class="col-auto">
        <img src="@Model.ImageFileName" alt="" />
    </div>
    <div class="col">
        <h1>Project @Model.Name</h1>
        <h6>Priority: @Model.ProjectPriority.Name</h6>
        @if(!_signInManager.IsSignedIn(User))
        {
            <form asp-action="AddTicketToProject">
                <input type="hidden" name="projectId" value="@Model.Id">
                <input type="submit" value="Add Ticket" class="btn btn-primary">
            </form>
        }
    </div>
</div>
<hr>

<h4>Tickets</h4>
<div class="row">
    @foreach (var ticket in Model.Tickets)
    {
        <div class="col-2 border m-3 p-3">
            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="text-dark text-decoration-none">
                <p>Title: @ticket.Title</p>
                <p>Description: @ticket.Description</p>
                <p>Type: @ticket.TicketType.Name</p>
                <p>Status: @ticket.TicketStatus.Name</p>
                <p>Priority: @ticket.TicketPriority.Name</p>
            </a>
        </div>
    }
</div>
