@model UserProfileViewModel
@using TheBugTracker.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> _userManager

@{
    var user = await _userManager.GetUserAsync(User);
}

<style>
    tr {
        cursor: pointer;
    }
    thead{
        cursor: auto;
    }
</style>

<div class="row mb-3 bg-light" style="position: relative; top: -15px;">
    <div class="col-lg-3 p-3">
        <img class="w-100" src="@Model.User.AvatarFileName" alt="" />
    </div>
    <div class="col p-3">
        <h4>@Model.User.FullName</h4>
        <h5>Contact</h4>
        <p>@Model.User.Email</p>
        <p>@Model.User.PhoneNumber</p>
        @if(user != null)
        {
            @if(Model.User.Id == user.Id)
            {
                <a class="btn btn-outline-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage account</a>
            }
            else
            {
                <a class="btn btn-sm btn-outline-primary" asp-controller="Chat" asp-action="PrivateMessage" asp-route-id="@Model.User.Id">Chat</a>
            }
        } 
    </div>
</div>

@if(Model.TicketsAssigned.Count > 0)
{
    <div>
        <h4>Tickets Assigned</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Project</th>
                    <th>Type</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Developer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TicketsAssigned.OrderByDescending(x => x.Created)) {
                    <tr id="@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if(Model.TicketsSubmitted.Count > 0)
{
    <div>
        <h4>Tickets Submitted</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Project</th>
                    <th>Type</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Developer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TicketsSubmitted.OrderByDescending(x => x.Created)) {
                    <tr id="@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>
    $(document).ready(() => {
        let collection = document.getElementsByTagName("tr")
        let rows = Array.from(collection);
        rows.shift()

        rows.forEach(row => {
            row.addEventListener('click', e => {
                window.location = `/Tickets/Details/${row.id}`
            })
        })
    })
</script>